/* Content wrapper section styles */
.content-wrapper {
    background: rgb(58,57,79);
    background: linear-gradient(90deg, rgba(58,57,79,1) 0%, rgba(94,87,96,1) 2%, rgba(0,0,0,1) 100%, rgba(75,71,71,0) 100%);
    display: flex;
    justify-content: space-between;
}

/*  Left column styles */
.content-wrapper > .left-column {
    margin-top: 40px;
}
.content-wrapper > .left-column > .top-heading p {
    color: white;
    font-weight: 100;
    font-size: 36px;
    margin-left: 65px;
}

.content-wrapper > .left-column > .top-heading .diff-weight {
    font-weight: 500;
}

.content-wrapper > .left-column > .top-heading .fa-solid.fa-hands-clapping {
    color: #ebc15f;
}

.content-wrapper > .left-column > .bottom-heading p {
    color: white;
    font-weight: 100;
    font-size: 28px;
    margin-left: 65px;
    opacity: 0.6;
}

.content-wrapper > .left-column > .links-wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper > .left-column > .links-wrapper > .nav-link a.l-btn {
    margin-left: 65px;
    padding: 15px 22px;
    border-radius: 4px;
    font-size: 30px;
    color: black;
    background-color: rgb(117, 199, 117);
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.content-wrapper > .left-column > .links-wrapper > .nav-link a.l-btn:hover {
    background-color: rgb(40, 116, 40);
}

.content-wrapper > .left-column > .links-wrapper > .nav-link a.r-btn {
    margin-right: 80px;
    padding: 15px 22px;
    border-radius: 4px;
    font-size: 30px;
    color: white;
    background-color: black;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.content-wrapper > .left-column > .links-wrapper > .nav-link a.r-btn:hover {
    background-color: rgb(48, 39, 39);
}

/* Right column styles */
.content-wrapper > .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-top: 40px;
}

.content-wrapper > .right-column > .top-text {
    margin-left: 10px;
    color: white;
}

.content-wrapper > .right-column > .top-text .blue-text {
    color: rgb(121, 235, 255);
}

.content-wrapper > .right-column > .code-editor-image img {
    width: 520px;
    height: 100%;
}

/* Features section */
.features-section {
    background-color: rgb(58, 55, 55);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.features-section > .feature {
    color: white;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.features-section > .feature .diff-weight {
    font-weight: 900;
    font-size: 25px;
}

.features-section > .feature:hover {
    background-color: rgb(100, 94, 94);
}